@import "tailwindcss";

@theme {
  --color-primary: #0B2545;
  --color-secondary: #134074;
  --color-accent: #E2B13C;
  --color-background: #FAF3E0;
  --color-text: #3B3B3B;
  
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Hide HTML5 number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Specific scrollbar for Sidebar Navigation */
aside nav::-webkit-scrollbar {
  width: 5px;
}
aside nav::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
aside nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
aside nav::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
